body{
  font-family: 'Open Sans', sans-serif !important;
  padding-top: 100px;
}
.title-main{
    font-size: 1.5rem;
}
.title-sub{
    font-size: 1rem;
}
.text-center{
    margin-top: -30px;
}
.hero-wrap{
    margin-top: -30px;
}

.hero-wrap-image {
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
 
}

.hero-wrap-image-text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
}
#image1{
    max-width: 60%;
    
    border-radius: 40px;
        
}

.hero-wrap-image .wrap-img2{
    max-width:60%;
    height: auto;
    border-radius: 40px;
}
.horizontal-scroll {
  background-color: transparent;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 20px;
  padding: 0px 0;
}

.item {
  border: 1px solid #333;
  display: inline-block;
  background-color: #F5F5F5;
  text-align: center;
  padding: 0px;
  margin: 0 20px 0 0;
  width: 200px;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.horizontal-scroll::-webkit-scrollbar {
  width: 0; !important
    
}

.navbar-custom {
  background-color: #202426;
}

@media (min-width: 1440px) {
  .navbar-custom {
    height: 60px;
  }
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif !important;
  color: #fff;
}

@media (max-width: 991px) {
  .navbar-custom .navbar-nav .nav-item .nav-link {
    font-size: 14px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .navbar-custom .navbar-nav .nav-item .nav-link {
    font-size: 14px;
  }
}

.scrolled {
  transition: 0.3s;
}

.navbar-custom.navbar-expand-xl .navbar-nav .nav-item {
  margin: 0 10px;
}

.navbar-toggler {
  z-index: 999999;
  position: relative;
  padding-left: 1.25em;
}

.navbar-toggler.navbar-toggler:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 30px;
  height: 2px;
  background: #fff;
  box-shadow: 0 10px 0 0 #fff, 0 20px 0 0 #fff;
}

.navbar-toggler.newopen:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 30px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  box-shadow: 0 10px 0 0 transparent, 0 -20px 0px 0px transparent;
}

.navbar-toggler.newopen:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 30px;
  height: 2px;
  background: transparent;
  transform: rotate(-45deg);
  transform-origin: 75% 0%;
  box-shadow: -9px -2px 0px 0 #fff, 0 20px 0 0 transparent;
}

@media (max-width: 380px) {
  .navbar-brand {
    width: 240px;
  }
}

@media (max-width: 1199.99px) {
  .navbar-collapse.offcanvas-collapse ul li {
    margin: 10px 20px !important;
  }
}

.color-white{
  color: #fff;
}

/* Font size */
.f1 {
  font-size: 1px; }

.f2 {
  font-size: 2px; }

.f3 {
  font-size: 3px; }

.f4 {
  font-size: 4px; }

.f5 {
  font-size: 5px; }

.f6 {
  font-size: 6px; }

.f7 {
  font-size: 7px; }

.f8 {
  font-size: 8px; }

.f9 {
  font-size: 9px; }

.f10 {
  font-size: 10px; }

.f11 {
  font-size: 11px; }

.f12 {
  font-size: 12px; }

.f13 {
  font-size: 13px; }

.f14 {
  font-size: 14px; }

.f15 {
  font-size: 15px; }

.f16 {
  font-size: 16px; }

.f17 {
  font-size: 17px; }

.f18 {
  font-size: 18px; }

.f19 {
  font-size: 19px; }

.f20 {
  font-size: 20px; }

.f21 {
  font-size: 21px; }

.f22 {
  font-size: 22px; }

.f23 {
  font-size: 23px; }

.f24 {
  font-size: 24px; }

.f25 {
  font-size: 25px; }

.f26 {
  font-size: 26px; }

.f27 {
  font-size: 27px; }

.f28 {
  font-size: 28px; }

.f29 {
  font-size: 29px; }

.f30 {
  font-size: 30px; }

.f31 {
  font-size: 31px; }

.f32 {
  font-size: 32px; }

.f33 {
  font-size: 33px; }

.f34 {
  font-size: 34px; }

.f35 {
  font-size: 35px; }

.f36 {
  font-size: 36px; }

.f37 {
  font-size: 37px; }

.f38 {
  font-size: 38px; }

.f39 {
  font-size: 39px; }

.f40 {
  font-size: 40px; }

.f41 {
  font-size: 41px; }

.f42 {
  font-size: 42px; }

.f43 {
  font-size: 43px; }

.f44 {
  font-size: 44px; }

.f45 {
  font-size: 45px; }

.f46 {
  font-size: 46px; }

.f47 {
  font-size: 47px; }

.f48 {
  font-size: 48px; }

.f49 {
  font-size: 49px; }

.f50 {
  font-size: 50px; }

.f51 {
  font-size: 51px; }

.f52 {
  font-size: 52px; }

.f53 {
  font-size: 53px; }

.f54 {
  font-size: 54px; }

.f55 {
  font-size: 55px; }

.f56 {
  font-size: 56px; }

.f57 {
  font-size: 57px; }

.f58 {
  font-size: 58px; }

.f59 {
  font-size: 59px; }

.f60 {
  font-size: 60px; }